*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.jumbotron {
  background: white;
  text-align: center;
}


h2 {
  padding-top: 10px;
  padding-bottom: 30px;
}

#buttonsContainer {
  border-top: 1px grey solid;
}

#buttonsContainer, #moveVerdictCotainer, #gameSummaryContainer, #playAgainContainer {
  border-bottom: 1px grey solid;
  padding-top: 30px;
  padding-bottom: 30px;
}


#buttonsContainer button {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50%;
  color: white;
  height: 200px;
  width: 200px;
}

#rock {
  background-image: url("../images/therock.jpg");
  background-size: cover;
}

#paper {
  background-image: url("../images/Night-Fury.jpg");
  background-size: cover;
}

#scissors {
  background-image: url("../images/johnny_depp.jpg");
  background-size: cover;
}

#rock:hover {
  background-image: none;
  background-color: #ff6961;
  font-size: 30px;
  font-weight: bold;
}

#paper:hover {
  background-image: none;
  background-color: #88D8D3;
  font-size: 30px;
  font-size: 30px;
  font-weight: bold;
}

#scissors:hover {
  background-image: none;
  background-color: #E1CD48;
  font-size: 30px;
  font-weight: bold;
}

#results p {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

#playAgainContainer a {
  background-color: green;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  padding: 15px 15px;
}


footer {
  padding: 30px;
  font-size: 12px;
}

footer a {
  text-decoration: none;
  color: grey;
}
