
.jumbotron {
background: white;
text-align: center;
}

button {
  height: 100px;
  width: 100px;
}

#results p {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;

}

#buttons button {
  margin-left: 20px;
  margin-right: 20px;

}
